/*:host ::ng-deep .p-card .p-card-title { 
    color: #FFFFFF; 
    font-size: 36px;  
} */

:host ::ng-deep .p-card .p-card-content{
    padding: 0;
}

:host ::ng-deep .p-card .p-card-content p {
    margin: 0;
    margin-top: 0.3rem;
}

.ratio {
    font-size: 1.2rem;
}

.custom-card {
    font-size: 1.5rem;
}

.textTime {
    color: #645A55;
    font-size: 1.3rem;
    font-weight: 500;
}

.data--container {
    width: 100%;
}

/* media queries */
@media (max-width:991px) {
    .main {
        justify-content: space-evenly;
    }
}