<app-nav-bar 
    [enMain]="false" />

<div 
    class="flex flex-column gap-5 justify-content-around contenedor">
    <div>
        <div class="ml-3 mt-3 text-3xl">
            {{ubicacion}}
        </div>
        <div class="flex flex-row flex-wrap">
            <p-card header="Hoy" class="mt-1 col-12 sm:col-12 md:col-6 borde">
                <app-card class="prueba" [data]="dayData"
                    timeLapse="">
                </app-card>
            </p-card>
            <p-card header="Semanal" class="mt-1 col-12 sm:col-12 md:col-6 borde">
                <app-card [data]="weekData" timeLapse=""></app-card>
            </p-card>
        </div>

    </div>
    <div class="sm:col-12 md:col-6 infoDispositivo mt-1 mr-2" *ngIf="dispositivo">
        <p-card class="cardTitle" header="Información del dispositivo">
            <div class="flex flex-column">
                <p class="flex flex-row justify-content-between"><b>Nombre:</b> <span>{{dispositivo.nombre}}</span></p>
                <p class="flex flex-row justify-content-between"><b>IP:</b> <span>{{dispositivo.ip}}</span></p>
                <p class="flex flex-row justify-content-between"><b>Puerto:</b> <span>{{dispositivo.puerto}}</span></p>
                <p class="flex flex-row justify-content-between flex-wrap"><b>Descripción:</b>
                    <span>{{dispositivo.descripcion}}</span></p>
            </div>
        </p-card>
    </div>
</div>