<div 
    [routerLink]="['/scan', dispositivo]" 
    class="flex flex-column cardContainer">
    <p-card 
        [header]="dispositivo">
        <div 
            class="flex flex-row">
            <div 
                class="col-6">
                <app-card 
                    [data]="dayData" 
                    timeLapse="Hoy" />
            </div>
            <div 
                class="col-6">
                <app-card 
                    [data]="weekData" 
                    timeLapse="Semanal" />
            </div>
        </div>
    </p-card>
</div>