.data,
.titulo {
    font-size: 1.6rem;
    align-self: center !important;
}

.titulo {
    color: #554C37;
    font-size: 1.2rem;
}

.titulo__container {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.error,
.regular,
.ok {
    padding: 0.3rem;
    border-radius: 5px;
}

.error {
    background-color: #FADBD8;
    color: #E74C3C;
}

.regular {
    background-color: #FCF3CF;
    color: #FFC300;
    font-weight: bold;
}

.ok {
    background-color: #D1F2EB;
    color: #2ECC71;
}

@media (min-width: 575px) and (max-width: 1400px){
    .titulo {
        font-size: 1rem;
    }
}