*{
    margin: 0;
}
.m-card {
    background-color: #3498DB;
}

body {
    background-size: cover;
}

.p-message .p-message-wrapper {
    padding: 2.5rem 2.5rem !important;
}


.p-message.p-message-info .p-message-icon,
.p-message-summary {
   margin-right: 1rem !important;
}

.p-timeline-event-content {
    margin-bottom: 2rem;
}

.p-timeline-event-opposite {
    display: flex;
    justify-content: end;
}

p-chart > div > canvas {
    height: 750px;
}

i:hover {
    color: #3498DB;
}

::-webkit-scrollbar {
    display: none;
}